
.add-items {
    margin: 20px;
}

// .checkbox{

// margin-right: 20vw;
// margin-top: 5vh;

// }

.description{
    text-align: center;
    
}

.MuiButton-root {
    color: black;
}

.name{
    font-weight: bolder;
    font-size: 2rem;
}